
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	
		
		<div class="navbar-header">
	      <a href="#" class="navbar-brand">Shop</a>
	    </div>
	
		<form class="navbar-form navbar-left" role="search" ng-controller="QueryController">
	      <div class="form-group">
	        <input type="text" class="form-control" placeholder="Search"  style="width:300px;" ng-model="filter" ng-keyup="onFilterChange(filter)" >
	      </div>
	      <div class="form-group">
	      		<select class="form-control" ng-model="searchIndex" ng-options="ind as ind for ind in searchIndices" ng-change="onIndexChange()"></select>
	      </div>
	    </form>
	
		<ul class="nav navbar-nav navbar-right nav-cart" ng-controller="CartController">
	      <li ng-click="cartClick()" ><i class="icon-cart2 btn-cart-ico"></i></li>
	      <li ng-click="cartClick()" class="btn-cart">
	      	<span>Your Cart</span>
	      	<small>3 items totalling $60.00</small>
	      </li>
	    </ul>
	   
    
</nav>

	<div class="well listing" ng-controller="ListingController">
	    <div class="row">
		     <div class="{{uiState}}">
			  <div class="col-sm-6 col-md-4" ng-repeat="product in products">
			    <div class="thumbnail">
			      <div class="cart-overlay">
			      	<i class="icon-cart2"></i>
			      	Add To Cart
			      </div>
			      <img ng-src="{{product.thumbnail}}" alt="...">
			      <div class="caption">
			        <div class="title">{{product.attrs.Title}}</div>
			        <p class="listing-price">{{product.price}}</p>
			      </div>
			    </div>
			  </div>
			</div>

		</div>
	</div>