html,body{
	height:100%;
	background-color: #eee;
}
body { 
	padding-top: 50px; 
	padding-bottom:50px;
	overflow: hidden;
}

.navbar{
	max-height: 50px;
}

.navbar .row{
	max-height: 50px;
	overflow: visible;	
}

.btn-cart{
	color:#999;
	padding-top:10px;
	cursor:pointer;
}

.btn-cart,.btn-cart-ico{
	transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
}

.btn-cart small{
	display: block;
}

.btn-cart-ico{
	font-size:2.2em;
	display: inline-block;
	height:30px;
	width:30px;
	color:#999;
	margin-top:10px;
	margin-right:20px;
	cursor:pointer;
	transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
}

.nav-cart > li:hover > span, .nav-cart:hover .btn-cart-ico
{
	color:#fff;
}

.listing{
	height:600px;
	overflow-x:hidden;
	overflow-y:scroll;
	padding:10px;
	padding-bottom: 51px;
}

.listing > .row > div {
	transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
}
.listing .thumbnail{
	position: relative;
	max-height: 150px;
}

.listing .thumbnail .cart-overlay{
	position: absolute;
	opacity: 0;
	z-index: 20;
	cursor: pointer;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background-color: #000;
	opacity: 0;
	color:#fff;
	font-size: 1.5em;
	text-align: center;
	transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
}

.listing .thumbnail .cart-overlay i{
	display: block;
	margin-top: 5px;
	font-size: 5em;
}

.listing .thumbnail .cart-overlay:active i{
	color: #00b6ff;
}

.listing .thumbnail:hover .cart-overlay{
	opacity: 0.6;
}

.listing .thumbnail > img{
	height: 140px;
	width: 140px;
	display: inline-block;
}
.listing .thumbnail .caption{
	display: inline-block;
	vertical-align:top;
	position: relative;
	width:40%;
	margin-top:0;
	color:#999;
}

.listing .thumbnail .caption .listing-price{
	font-weight: normal;
	color:#d73;	
}

.listing .thumbnail div.title{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: pre-line;
	max-height:100px;
	width:100%;
}

.cart-dropdown{
	height: 0;
	opacity: 0;
	position: relative;
	width:120%;
	padding:5px;
	overflow: hidden;
	margin-top: 3px;
	margin-left: -22%;
	background-color: #333;
	transition: height 500ms ease, opacity 250ms ease;
	-webkit-transition: height 500ms ease, opacity 250ms ease;
	transition-delay: 100ms;
	-webkit-transition-delay: 100ms; /* Safari */
}

.cart-dropdown.active{
	height:500px;
	opacity:1;
}

.cart-dropdown .cart-item{
	font-size: 10px;
	padding: 5px;
	margin-bottom: 5px;
	color:#fff;
	background-color: #666;
	transition: background-color 250ms ease;
	-webkit-transition: background-color 250ms ease;
}

.cart-dropdown .cart-item:hover{
	background-color: #999;
	color:#333;
}

.cart-dropdown .cart-item img{
	height:40px;
	width:40px;
}


.cart-dropdown .cart-item .cart-item-title{
	max-height: 40px;
	overflow: hidden;
}

.cart-dropdown .cart-item .icon-close{
	display: inline-block;
	height: 30px;
	width:30px;
	font-size: 1em;
}

.cart-list{
	height:475px;	
	z-index: 99999;
	overflow-x: hidden;
	overflow-y: scroll;
}

.cart-summary{
	position: absolute;
	bottom:0px;
	width: 100%;
	color:#d73;
}

.repo-link{
	font-size: 1em;
}
